.spinner{
   padding: 250px;
    text-align: center;
  
}

.pageContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-decoration: none;
}
.pageWrapper{
    flex: 1;
}